
<h1>Landing Page</h1>
<%= link_to "Become a User", controller: "users", action: "new"%>
<hr>
<div>
    <!-- <h2>Projects of San Francisco</h2>
        <div>
            <p>info about san francisco....</p>
        </div>
        <hr> -->
</div>
<div>
    <!-- <h2>Projects of New York</h2>
        <div>
            <p>info about new york....</p>
        </div>
        <hr> -->
</div>
