<style>

    .container{
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
    }
    
    .column {
/*
        display: inline-block; 
        width: 33%; 
        height: 100%; 
        background-color: #22f4a2; 
        color: white;
*/
        background-color: antiquewhite; 
        display: inline-block; 
/*        position: absolute;*/
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 33%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .column > .content {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

</style>

<div class="container">
    <div class="column">
        <div class="content">
            
        </div>
    </div>
    
    <div class="column">
        <div class="content">
            Portfolio Port
            <%= link_to 'Sign Up', controller: 'users', action: 'new' %>
        </div>
    </div>
    
    <div class="column">
        <div class="content">
            
        </div>
    </div>
    
</div>

<div class="container" style="background-color: #41daaa">
    <div class="column" style="background-color: #41dafa">
        <div class="content">
            This is why you should use our app
        </div>
    </div>
    
    <div class="column" style="background-color: #41dafa">
        <div class="content">
            This reason too.
        </div>
    </div>
    
    <div class="column" style="background-color: #41dafa">
        <div class="content">
            And this reason
        </div>
    </div>

</div>

<div class="container" style="background-color: #ffdfff">
    <div class="column" style="background-color: #ccccfa">
        <div class="content">
            This is why you should use our app
        </div>
    </div>
    
    <div class="column" style="background-color: #ccccfa">
        <div class="content">
            This reason too.
        </div>
    </div>
    
    <div class="column" style="background-color: #ccccfa">
        <div class="content">
            And this reason
        </div>
    </div>

</div>