<div class="landing-section-one">
      <div class="jumbotron" >
          <h1>ProductFolio</h1>
          <h2>The default place for developers to
              create impressive portfolios.</h2>
          <!-- <div class="text-xs-right" class="btn btn-primary btn-lg" role="button"><%= link_to 'Sign Up', controller: 'users', action: 'new' %></div> -->
      </div>
  </div>

    <!-- <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption container">
              <h3>Why?</h3>
              <p>Save time in creating your own portfolio site. Sign up and submit projects and see your
              your work come alive. </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption container">
              <h3>How?</h3>
              <p>Sign up and start customizing your portfolio template.</p>
          </div>
        </div>
      </div>
    </div> -->
