body {
	background-color: #f9f8f8;
	font-family: "Open Sans Condensed";
}

.jumbotron {
	background-color: #64b6ac;
	color: #f9f8f8;
/*    font-family: "Roboto Condensed";*/
    font-family: "Bungee";
    width: 100%;
    max-height: 40%;
}

#addClassButton{
	font-size: 24px;
}

.title {
	font-size: 32px;
	text-decoration: none;
    text-transform: capitalize;
}


h1 {
	font-size: 60px;
}

h2 {
	font-size: 24px;
}

a{
	color: #4c5b61;
}

a .hover {
	color: #c5c5c5;
}


.leftContainer {
    float: left;
    width: 66.66666%;
    height: 80%;
    background-color: #f8e3ce;
    background-color: #fbebe1;
    padding: 20px;
    font-family: "Open Sans Condensed";
}

.rightContainer {
    float: right;
    width: 33.33333%;
    height: 80%;
    background-color: #fbebe1;
    background-color: #f8e3ce;
    padding: 20px;
    font-family: "Open Sans Condensed";
}

.desc {
    font-family: 'Space Mono';
    font-family: 'Abel';
    color: #c0fdfb;
}

.panel-title{
    font-family: 'Abel';
}
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.





 */
