body {
	background-color: #eee5bf;
	font-family: "Optima";

}

.jumbotron {
	background-color: #829191;
	color: #e2d0be;
}

#addClassButton{
	font-size: 24px;
}

.title {
	font-size: 32px;
	text-decoration: none;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 24px;
}

a{
	color: #4c5b61;
}

a .hover {
	color: #c5c5c5;
}